.body{
    padding: 20px 90px 10px 90px;
}

h1{
    margin-bottom: 5px;
}

.para{
    line-height: 25px;
    margin-bottom: 10px;
}

.hero_sec{
    display: flex;
    justify-content: space-between;
}

form{
    width: 40%;
    padding: 20px 50px 10px 50px;
    background-color: rgb(139, 231, 139);
    border-radius: 20px;
}

.btndiv{
display: flex;
justify-content: space-between;
}

input{
    width: 95%;
    height: 30px;
    padding: 2px;
}

textarea{
    width:95%;
    height: 30px;
    padding: 5px;
}

.right{
    width: 50%;
}

.pic{
    height: 100%;
    width: 100%;
    border-radius: 20px;

}

.output{
    height: 60px;
    width: 100%;
    background-color: white;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
}

